########################################
# Google Vertex AI (Gemini)
########################################

# Production
#VERTEX_PROJECT_ID=your-project-id
#VERTEX_LOCATION=your-location
#GOOGLE_APPLICATION_CREDENTIALS=/absolute/path/to/service-account.json

# Express Mode
GOOGLE_GENAI_API_KEY=your-google-genai-api-key


# Google GenAI Settings
GENAI_MODEL=gemini-3-flash-preview
GOOGLE_GENAI_MODEL=gemini-3-pro-preview
VERTEX_AI_MODEL=true

